apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-country-service
spec:
  replicas: 3
  selector:
    matchLabels:
      app: country-service
  template:
    metadata:
      labels:
        app: country-service
    spec:
      containers:
        - name: country-service-container
          image: nadabj/my-country-service-1:v1   # on peut laisser comme ça pour l’instant
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8086
