---
- name: Build and Deploy Docker Image to Kubernetes
  hosts: localhost  # Or your build/deployment server
  connection: local

  vars:
    image_name: my-country-service
    image_tag: v1
    dockerfile_path: './'
    docker_registry_username: "nadabj"
    docker_registry_password: "197197123"
    kubeconfig_path: "~/.kube/config"

  tasks:

    # 1️⃣ Connexion à Docker Hub
    - name: Log in to Docker Hub
      community.general.docker_login:
        username: "{{ docker_registry_username }}"
        password: "{{ docker_registry_password }}"
        reauthorize: yes

    # 2️⃣ Construction de l’image Docker
    - name: Build Docker image
      docker_image:
        build:
          path: "{{ dockerfile_path }}"
        name: "{{ docker_registry_username }}/{{ image_name }}"
        tag: "{{ image_tag }}"
        source: build
        state: present

    # 3️⃣ Pousser l’image vers Docker Hub
    - name: Push the Docker image to Docker Hub
      docker_image:
        name: "{{ docker_registry_username }}/{{ image_name }}"
        tag: "{{ image_tag }}"
        push: yes
        source: local

    # # 4️⃣ (Optionnel) Retélécharger l’image pour vérification
    # - name: Pull Docker image (optional, for verification or target nodes)
    #   docker_image:
    #     name: "{{ docker_registry_username }}/{{ image_name }}"
    #     tag: "{{ image_tag }}"
    #     source: pull

    # 5️⃣ Appliquer le Deployment sur Kubernetes
    - name: Apply Kubernetes Deployment
      kubernetes.core.k8s:
        state: present
        namespace: jenkins
        src: deployment.yaml
        kubeconfig: "{{ kubeconfig_path }}"

    # 6️⃣ Appliquer le Service sur Kubernetes
    - name: Apply Kubernetes Service
      kubernetes.core.k8s:
        state: present
        namespace: jenkins
        src: service.yaml
        kubeconfig: "{{ kubeconfig_path }}"
